@import "root.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.dark-theme {
  background-color: var(--dark-theme-bg-color);
  color: var(--dark-theme-text-color);
}

.light-theme {
  background-color: var(--light-theme-bg-color);
  color: var(--light-theme-text-color);
}

.filter-invert {
  filter: invert(100%);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.dark-overlay {
  width: 100vw;
  min-height: 100vh;
  background-color: #000000c5;
}

.light-overlay {
  width: 100vw;
  min-height: 100vh;
  background-color: #999;
}
