$disabled-buttonColor: rgb(58, 56, 56);
$general-buttonColor: #8687E7;
$hover-buttonColor: rgb(56, 8, 168);
.logo{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.formContainer{
    flex: 1;
}

form{
    box-shadow: 1px -4px 50px 3px rgba(54, 53, 53, 0.74);
-webkit-box-shadow: 1px -4px 50px 3px rgba(54, 53, 53, 0.74);
-moz-box-shadow: 1px -4px 50px 3px rgba(54, 53, 53, 0.74);
    label{
        div{
            font-size: 0.8rem;
        }
    }
    
    .login{
    
    background-color:$general-buttonColor ;
    transition: all 1s ease;
    &.disabledButton{
        background-color:$disabled-buttonColor;
        color: rgba(255, 255, 255, 0.651);
        cursor: not-allowed;
        
    }
    &.disabledButton:hover{
        background-color:$disabled-buttonColor;
        
    }
}
.login:hover{
    background-color: $hover-buttonColor;
}
.register{
    button{
        background-color: $general-buttonColor;
    }
}
input{
    padding: 5px 10px;
}
.appleicon{
    font-size: 1.2rem !important;
}
input::placeholder{
    font-size: 0.75rem;
}
}
.footNote{
    font-size: 0.7rem;
}
.googleLogin{
    button{
        border-color:$general-buttonColor ;

    }
    button:hover{
        border-color: $hover-buttonColor;
    }
    
}
.appleLogin{
    button{
        border-color:$general-buttonColor ;
    }
    button:hover{
        border-color: $hover-buttonColor;
    }
}

